/* add code here to make your image 300px tall, have a border-radius of 25px, and a 1px black solid border.*/
#movie {
    height:300px;
    border: 2px solid black;
    border-radius: 25px;
}
/* add code here to change the color and font family of your band's name/title */
h1 {
    color:darkgreen;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
/* Bonus: change the color of your list elements */
#quotelist {
    color:darkgreen;
}
